{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
<article class="blog-post">
  {#
	<div class="blog-post-image">
		<a href="post.html"><img src="images/750x500-5.jpg" alt=""></a>
	</div>
  #}
	<div class="blog-post-body">
		<h2><a href="#">{{ page.title }}</a></h2>
		<div class="post-meta">{#<span>by <a href="#">Jamie Mooze</a></span>/#}<span><i class="fa fa-clock-o"></i>{{ page.date|date("Y-m-d") }}</span>{#/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>#}</div>
		<div class="blog-post-text">
        {{ page.blocks.content|raw }}
		</div>
	</div>
</article>
    {% if page.previous_post or page.next_post %}
        <nav class="article">
            <ul>
                {% if page.next_post %}
                    <li>下一篇: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                {% endif %}
                {% if page.previous_post %}
                    <li>上一篇: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

        {#
        {% if page.categories %}
            <p class="categories">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tags %}
            <p class="tags">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        #}

    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//nicksheksblog.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block scripts_after %}
<script id="dsq-count-scr" src="//nicksheksblog.disqus.com/count.js" async></script>
{% endblock %}

{% block homeactive %}class="active"{% endblock %}
